h1 {
  text-align: center;
  font-size: 75px;
  font-family: "Open Sans", sans-serif;
}

.about-paragraphs {
  display: flex;
  margin: 20px 0;
}

:root {
  --main-branding-color: #e6a4b4;
  --secondary-color: #f5eee6;
}
p {
  margin: 15px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 15px;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

h3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  margin: 0;
}

.email {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--main-branding-color);
}

.home {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid var(--main-branding-color);
  border-radius: 15px;

  background-color: var(--main-branding-color);
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }

  p {
    text-align: center;
    font-size: 13px;
  }

  .contact {
    margin-top: 30px;
  }
}
