h1,
h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
h1,
h2 {
  line-height: 25px;
}

.intro {
  margin-top: 80px;
  font-size: 40px;
}

.name {
  font-size: 75px;
}

h2 {
  font-size: 20px;
  opacity: 0.7;
}

.more-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;

  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

:root {
  --main-branding-color: #e6a4b4;
  --secondary-color: #f5eee6;
}

.about {
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  border: 1px solid var(--main-branding-color);
  border-radius: 15px;
  background-color: var(--main-branding-color);
  color: var(--secondary-color);
}

.contact-me {
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  border: 1px solid var(--main-branding-color);
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: var(--main-branding-color);
}

div .work {
  margin-top: 40px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
    line-height: 1.5;
  }

  h2 {
    font-size: 38px;
  }

  p {
    text-align: center;
  }

  .project-link {
    display: flex;
    justify-content: center;
  }
}

.recipe {
  margin-bottom: 30px;
}

footer {
  margin: 60px 0;
}

footer .inquiry {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 15px;
}

footer h4 {
  font-size: 40px;
}

footer p {
  font-size: 20px;
  margin: 0;
}

footer .email-link {
  margin-top: 30px;
  text-decoration: none;
  color: var(--main-branding-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: black;
  text-decoration: underline;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--main-branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--main-branding-color);
}
